@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@500&display=swap');

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background: url('imgs/img-4.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    font-family: 'Noto Serif Display', serif;
}
.container{
    height: 113vh;
}
/* .header-section */
 

.header-section .logo {
    background: url('imgs/logo.jpg') center center/cover no-repeat;
    color: aliceblue;  
    height: 152px;
    width: 157px;
    display: inline-block;
    position: relative;
    left: 0;
    top: -36px;
}

.header-section ul {
    background-color: #000000;
    display: flex;
    border: 2px solid black;
    font-family: 'Noto Serif Display', serif;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 51px;
    margin: -130px 224px 9px 276px;
    border-radius: 20px;
    border: .5px solid rgb(255, 255, 255);
    letter-spacing: .5px;
}

.header-section ul li {
    list-style: none;
}

.header-section ul li a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.header-section ul li a:hover {
    color: rgb(195, 207, 207);
}

/* content-section */

.content-section {
    width: 600px;
    height: 217px;
    align-items: center;
    color: white;
    font-weight: bold; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    margin: 159px -20px 80px 93px;
}

.content-section .h-primary {
    margin: 14px;
    margin-bottom: -1px;
    font-size: 40px;    
}

.h3-primary {
    margin-left: 15px;
}

.para {
    margin: 21px;
}

#join-us-btn {
    position: relative;
    border: 1px solid white;
    height: 65px;
    width: 202px;
    font-family: 'Noto Serif Display', serif;
    padding: 20px;
    color: white;
    background-color: #000000;
    letter-spacing: 1px;
    font-size: 19px;
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
    margin-left: 19px;
}

#arrow-sign {
    overflow: hidden;
    width: 0px;
}

#join-us-btn:hover {
    letter-spacing: 0.25px;
}

/* footer */

footer {
    font-size: 15px;
    position: absolute;
    bottom: -75;
    width: 100%;
    height: 90px;
    background-color: #000;
}

footer ul  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 92px;
    margin: 14px 0 15px 0;
}

footer ul li{
    color: white;
}
footer ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none; 
}
footer #copy-right{
    color: white;
    text-align: center;
}